
{% extends 'base.html.twig' %}

{% block content %}

<div style="height:400px; text-align: center; margin-bottom: 20px; margin-top: 20px;">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.message) }}
        {{ form_row(form.includeTimestamp) }}
        {{ form_row(form.submit) }}

        {{last_message}}

    {{ form_end(form) }}
</div>

{% endblock %}