{% extends 'base.html.twig' %}

{% block content %}
    <div style="height: 400px; overflow-y: scroll; margin: 20px auto; max-width: 80%; border: 1px solid #ccc;">
       <table style="width: 100%; table-layout: auto; margin: 0 auto; border-collapse: collapse;">
        <caption style="font-size: 1.5em; margin-bottom: 10px;">All Posts</caption>
        <thead>
            <tr>
                <th style="padding: 10px; text-align: left;">Title</th>
                <th style="padding: 10px; text-align: left;">Author</th>
                <th style="padding: 10px; text-align: left;">Date</th>
                <th style="padding: 10px; text-align: left;">👍 Likes</th>
                <th style="padding: 10px; text-align: left;">👎 Dislikes</th>
                <th style="padding: 10px; text-align: left;">⬆️ Reputation</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr style="border-bottom: 1px solid #ddd;">
                    <td style="padding: 10px; text-align: left;">
                        <a href="{{ path('app_get_post', {'id': post.id}) }}">{{ post.title }}</a>
                    </td>
                    <td style="padding: 10px; text-align: left;">{{ post.author }}</td>
                    <td style="padding: 10px; text-align: left;">{{ post.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td style="padding: 10px; text-align: left;">{{ post.likedByUsers|length }}</td>
                    <td style="padding: 10px; text-align: left;">{{ post.dislikedByUsers|length }}</td>
                    <td style="padding: 10px; text-align: left;">{{ post.likedByUsers|length - post.dislikedByUsers|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
       </table>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ path('app_create_post') }}">
            <button type="button">Create new post</button>
        </a>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ path('app_post_login') }}">
            <button type="button">My Page</button>
        </a>
    </div>
{% endblock %}
