
{% extends 'base.html.twig' %}

{% block content %}

<div style="height: 400px; text-align: center; margin: 20px 0;">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div style="margin-bottom: 20px;">{{ form_row(form.username) }}</div>
        <div style="margin-bottom: 20px;">{{ form_row(form.name) }}</div>
        <div style="margin-bottom: 20px;">{{ form_row(form.email) }}</div>
        <div style="margin-bottom: 20px;">{{ form_row(form.enable) }}</div>
        <div style="margin-bottom: 20px;">{{ form_row(form.birthdate) }}</div>
        <div style="margin-bottom: 20px;">{{ form_row(form.address) }}</div>
        <div>{{ form_row(form.submit) }}</div>

    {{ form_end(form) }}
</div>

{% endblock %}